* {
    padding: 0;
    margin: 0;
}

/* パーツ */

:root {
    --font-24: 24px;

    --font-maintext: 18px;

    --font-mtext: 16px;

    --font-subtext: 14px;

    --font-gray: #C0C0C0;
}

.htext {
    font-size: var(--font-24);
}

.maintext {
    font-size: var(--font-maintext);
}

.midiumtext {
    font-size: var(--font-mtext);
}

.subtext {
    font-size: var(--font-subtext);
}

.maingap {
    gap: 0 1rem;
}

.graytext {
    color: #C0C0C0;
}

/* fonts */
/* noto sans jp*/

.noto-sans-jp-300 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.noto-sans-jp-400 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.flex {
    display: flex;
}

body {
    background-color: #F9F9F9;

}

.main {
    width: 75%;
    position: sticky;
    margin: 2% 5% 0 5%;
    background-color: #F9F9F9;
    padding-bottom: 20px;
}

.side {
    background-color: #F9F9F9;
}

/* サイドバー */


.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
}


.img {
    width: 13%;
}


.sidebar h1 {
    background: linear-gradient(90deg, rgba(255, 101, 101, 1), rgba(255, 214, 151, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 30px 30px 0 30px;
    font-size: 45px;
}

.midiumtext {
    margin-left: 35px;
    margin-bottom: 30px;
}



.side_content {
    margin-top: 15px;
}

.side_outside {
    padding: 0 1.2rem;
    justify-content: flex-start;
}

.login,
.myPage,
.addPost {
    width: 100%;
}

.side_text {
    border-bottom: 1px #C0C0C0 solid;
    padding: 15px 15px 10px 5px;
    box-sizing: border-box;


}

.side_text img {
    padding-left: 8px;
}

.side_text a {
    color: black;
    text-decoration: none;
    padding-left: 2rem;
}

.side_text a:hover {
    color: #FA6B62;
}


#login_p1 {
    font-size: 15px;
}

#login_p2 {
    font-size: 10px;
    margin-bottom: 30px;
}