    .daytext {
        font-size: 14px;
        padding-left: 1rem;
    }

    .maincontent {
        margin-top: 0.5rem;
        width: 60vw;
        min-width: 600px;
        background-color: white;
        padding: 1rem 3rem;

        border-radius: 8px 8px 0 0;
    }

    .maintext {
        width: 88%;
    }

    .desc {
        line-height: 1.6;
        padding: 0.5rem 0;
    }

    .title-main {
        padding: 1rem 0;
        width: 88%;

    }

    .mainoutimg {
        max-width: 600px;
        max-height: 50rem;
        background-color: #DFDFDF;
        border-radius: 24px;

    }

    .mainoutimg img {
        border-radius: 24px;

    }

    .mainothers {
        width: 600px;

    }

    .others {
        width: 600px;
        justify-content: space-between;
        align-items: center;
    }

    .goods {
        font-size: 24px;
        line-height: 3rem;
        max-width: 400px;
        height: 40px;
    }

    .ingoods {
        align-items: center;

    }

    .goodsimg {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .mainimage {
        object-fit: contain;
        width: 100%;
    }

    .comment_day {
        text-align: center;
        align-self:center;
    }

    .comment {
        list-style: none;
    }

/* コメント投稿ボタン */
    .comment_form{
        padding: 1rem 0;
    }

    .commenttext{
        font-size: 18px;
        border: 2px solid #c0c0c0;
        border-radius: 6px;
        width: 60%;
        margin-right: 2%;
        padding: 0.3rem 0;
        padding-left: 4px;
    }

    .commenttext [type="text"]:focus {
        outline: 0;
    }
    .commentbutton{
        font-size: 18px;
        padding: 0.3rem 0;

        background-color: #fa6b62;
        border-radius: 6px;
        border: none;
        width: 16%;
        color: white;
        transition: 0.5s;
    }